<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    

    <h1>Este es mi index</h1>
    <p id='este'> Este</p>
    <script>
        const Misocket = new WebSocket('wss://'+ window.location.host + '/ws/miSocket/')

        Misocket.onmessage = function(e){
            const data = JSON.parse(e.data);
            parrafo = document.getElementById('este')

            parrafo.textContent += " " + data['mensaje']

        }
        
    </script>
</body>
</html>